body {
    margin: 0;
  font-family: 'Segoe UI', sans-serif;

  background: url("IMG_20210204_111356.jpg") no-repeat center center fixed;
  background-size: cover;

  overflow: hidden;
  color: white;
  text-align: center;
}

.section {
    display: none;
    height: 100vh;
    padding: 50px;
}

.section.active {
    display: block;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 20px;
    background: #fff;
    color: #ff4d6d;
    font-size: 16px;
    cursor: pointer;
}

.photos img {
    width: 150px;
    border-radius: 15px;
    margin: 10px;
}


